<?xml version="1.0"?>
<config>
    <modules>
        <Payscrow_PayscrowGateway>
            <version>1.0.0</version>
        </Payscrow_PayscrowGateway>
    </modules>

    <global>
        <helpers>
            <payscrowgateway>
                <class>Payscrow_PayscrowGateway_Helper</class>
            </payscrowgateway>
        </helpers>

        <blocks>
            <payscrowgateway>
                <class>Payscrow_PayscrowGateway_Block</class>
            </payscrowgateway>
        </blocks>

        <models>
            <payscrowgateway>
                <class>Payscrow_PayscrowGateway_Model</class>
            </payscrowgateway>
        </models>
        <sales>
            <quote>
                <totals>
                    <nominal>
                        <class>sales/quote_address_total_nominal</class>
                        <before>subtotal</before>
                    </nominal>
                    <subtotal>
                        <class>sales/quote_address_total_subtotal</class>
                        <after>nominal</after>
                        <before>grand_total</before>
                    </subtotal>
                    <shipping>
                        <class>sales/quote_address_total_shipping</class>
                        <after>subtotal,freeshipping,tax_subtotal,msrp</after>
                        <before>grand_total</before>
                    </shipping>
                    <grand_total>
                        <class>sales/quote_address_total_grand</class>
                        <after>subtotal</after>
                    </grand_total>
                    <msrp>
                        <class>sales/quote_address_total_msrp</class>
                        <before>grand_total</before>
                    </msrp>
                </totals>
                <nominal_totals>
                    <recurring_initial_fee>
                        <class>sales/quote_address_total_nominal_recurring_initial</class>
                        <sort_order>10</sort_order>
                    </recurring_initial_fee>
                    <recurring_trial_payment>
                        <class>sales/quote_address_total_nominal_recurring_trial</class>
                        <sort_order>50</sort_order>
                    </recurring_trial_payment>
                    <nominal_subtotal>
                        <class>sales/quote_address_total_nominal_subtotal</class>
                        <sort_order>250</sort_order>
                    </nominal_subtotal>
                    <nominal_shipping>
                        <class>sales/quote_address_total_nominal_shipping</class>
                        <sort_order>1250</sort_order>
                    </nominal_shipping>
                </nominal_totals>
                <item>
                    <product_attributes>
                        <sku/>
                        <type_id/>
                        <name/>
                        <status/>
                        <visibility/>
                        <price/>
                        <weight/>
                        <url_path/>
                        <url_key/>
                        <thumbnail/>
                        <small_image/>
                        <tax_class_id/>
                        <special_from_date/>
                        <special_to_date/>
                        <special_price/>
                        <cost/>
                        <is_recurring/>
                        <recurring_profile/>
                        <gift_message_available/>
                        <msrp_enabled/>
                        <msrp/>
                        <msrp_display_actual_price_type/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
    </global>
    <default>
        <payment>
            <payscrowgateway>
                <active>1</active>
                <model>payscrowgateway/payscrow</model>
                <order_status>pending</order_status>
                <title>PayScrow - Premium Escrow Payment Service</title>
                <allowspecific>0</allowspecific>
                <payment_action>sale</payment_action>
                <gateway_url>https://www.payscrow.net/customer/transactions/start</gateway_url>
                <access_key></access_key>
                <max_delivery_duration></max_delivery_duration>
                <response_url>/payscrowgateway/payment/response</response_url>
            </payscrowgateway>
        </payment>
    </default>

    <frontend>
        <routers>
            <payscrowgateway>
                <use>standard</use>
                <args>
                    <module>Payscrow_PayscrowGateway</module>
                    <frontName>payscrowgateway</frontName>
                </args>
            </payscrowgateway>
        </routers>
    </frontend>
</config>